/* Generating the Squares inside Frame using grid. */
.frame {
    position: absolute;
    top: 20%;
    left: 35%;
    width: 400px;
    height: 400px;
    display: grid; 
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 0px;
}

/* Setting the Properties of Squares that are generated inside the Frame. */
.square {
    background-color: #183442;
    border: 0.1px solid #1E3A73;
}

.square:hover {
    cursor: pointer;
    background-color: #15292F;
    border: 0.1px solid #15292F;
}

.newColor {
    background-color: rgb(255, 255, 255);
    border: 0.1px solid white;
}

.newColor:hover {
    background-color: rgb(255, 255, 255);
    border: 0.1px solid white;
}